body {
    padding-top: 50px;
}

.big-page {
    width: 100%;
    background: url("img/bg.png") no-repeat center center fixed;
    background-size: cover;
    /*background-size: auto 100%;
    /*background-color: red;*/
    height: 100%;
    min-height: 100%;
}

.main-body {
    text-align: center;
    width: 80%;
    padding: 2em;
    height: 100%;
    min-height: 100%;
    margin-bottom: -100px;
}

.athome {
    background-color: rgba(0,0,0,0.3);
    animation-duration: 0.5s;
    animation-name: fadeout;
}

.notathome {
    background-color: rgba(0,0,0,1.0);
    animation-duration: 0.5s;
    animation-name: fadein;
}

.white-box {
    opacity: 1.0;
    outline: 1px solid white;
    padding: 0.25em 2em 0.5em;
}

.white-box:hover {
    background-color: red;
}

.white-box h3 {
    font-family: 'Poiret One', cursive;
    color: white;
}

.opt-link {
}

.opt-box {
    /*padding: 10% 33%;*/
    margin: 20% 20% 0% 20%;
    outline: 1px solid white;
    background-color: rgba(0,0,0,0.8);
}

.opt-box h1 {
    font-family: 'Titillium Web', sans-serif;
    color: ghostwhite;
}

.title-box {
    display: table-cell;
    vertical-align: middle;
}

.title-box h1 {
    font-family: 'Poiret One', cursive;
    color: ghostwhite;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

ul.nav li {
    text-align: center;
}

/* work panel CSS */
.section-link {
    /*height: 240px;
    margin-top: 1em;*/
    background-color: #222;
    width: 100%;
}

.section-link.active {
    background-color: red;
    margin-left: 2.5em;
    width: 100%;
}

.section-link.active:hover {
    
    background-color: red;
}

.section-link.inactive:hover {
    background-color: red; 

    margin-left: 2.5em;
    width: 100%;
    animation-duration: 0.25s;
    animation-name: linkexpand;

}

.section-link.inactive {

    animation-duration: 0.25s;
    animation-name: linkshrink;
}

.section-link h3 {
    padding: 0.35em 0.5em;
    margin-top: 1px;
    margin-bottom: 0px;
}


.section-text {
    background-color: #222;
    height: 60%;
    margin-top: 1px;
}

.section-text p {
    padding: 2em;

}

.section-text h4 {
    margin-top: 1px;
    padding-top: 1em;
    padding-left: 1em;
}


.section-link img {
    height: 240px;
    width: 240px;
}

.info-box {
    text-align: left;
    margin: 5% 10% 0% 10%;
    color: ghostwhite;

}

.my-divide {
    border-bottom: 1px solid white;
}

.my-content {
    margin-top: 2em;
}

.my-header {
    font-family: 'Poiret One', cursive;
}
.img-link {
    border: 5px solid black;
}

.logos {
    font-family: 'Times New Roman', serif;
    font-size: 24pt;
    color: ghostwhite;
}

/*contact page css*/

#mymail:hover {
    background: red;
}

#mylinkedin:hover {
    background: #1D87BD;
}

#mytwitter:hover {
    background: #55ACEE;
}


.img-icon {
    background: #222;
    height: 60px;
    width: 60px;
    margin: 1.5em;
}

.my-content a:hover {
    text-decoration: none;
}

/*footer css*/
footer {
    background-color: #222;
    color: dimgray;
    text-align: center;
    height: 100px;
    padding: 45px;
}
