<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="option in page.options" ng-class="{ active:page.isSet($index) }">
                    <a class="logos" href="#" ng-click = "page.setCurrent(0)" ng-if = "page.checkIndex($index)">
                        <!--<img src="img/navbar-icon.png">-->
                        P
                    </a>
                    <a href="#" ng-click="page.setCurrent($index)" ng-if="!page.checkIndex($index)">{{option}}</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
