
<div class="row info-box" ng-show="page.isSet(3)">
    <div class="col-md-12 my-divide my-header">
        <h1>WORKS</h1> 
    </div>    
    <div class="row">
        <div class="col-md-3 col-xs-4">
            <div class="section-link" 
                ng-repeat="work in workpanel.works" 
                ng-click="workpanel.setWork(work)" 
                ng-class="{ active:workpanel.workSelected(work), inactive:!workpanel.workSelected(work) }">
                <h3>{{work.title | uppercase}}</h3>
            </div>
        </div>
        <div class="col-md-9 col-xs-8">
            <div class="section-text">
                <p>
                {{workpanel.workBlurb}}
                </p>
            </div>
        </div>
    </div>
</div>
